.showcase_container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--showcaseyellow);
  position: relative;
}
.showcase_inner {
  /* max-width: 70%; */
  max-width: 1100px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.showcase_inner h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--black);
  text-align: center;
  font-size: 60px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.showcase_inner p {
  text-align: center;
  font-family: var(--font);
  color: var(--grey);
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 130%;
  margin-top: 30px;
}

.showcase_button {
  margin-top: 30px;
  color: var(--white);
  font-family: var(--font);
  font-size: 20px;
  font-weight: 400;
  border-radius: 40px;
  padding: 20px 50px;
}

.showcase_icon {
  position: absolute;
  width: 6.5%;
}

.cup_icon {
  left: 0px;
  top: 200px;
  transform: rotate(-24.869deg);
}

.world_icon {
  right: 0px;
  top: 200px;
  transform: rotate(23.904deg);
}

.people_icon {
  left: -30px;
  bottom: -50px;
  width: 13%;
}
.arrow_icon {
  right: 37%;
  bottom: 15%;
  width: 5%;
}
.kite_icon {
  right: 0%;
  bottom: 0%;
  width: 10%;
}
.next_icon {
  left: 20%;
  top: 37%;
  width: 4%;
  transform: rotate(30deg);
}

@media screen and (max-width: 999px) {
  .showcase_container {
    min-height: 65vh;
  }
  .showcase_inner h1 {
    font-size: 40px;
  }
  .showcase_inner p {
    font-size: 18px;
  }
  .showcase_inner {
    max-width: 80%;
    padding-top: 90px;
  }
  .showcase_button {
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 20px;
  }
  .cup_icon {
    top: 100px;
  }

  .world_icon {
    top: 100px;
  }

  .people_icon {
    bottom: -30px;
    width: 20%;
  }
  .showcase_icon {
    width: 10%;
  }

  .arrow_icon {
    width: 8%;
  }
  .next_icon {
    width: 6%;
  }
}

@media screen and (max-width: 600px) {
  .showcase_inner h1 {
    font-size: 33px;
  }
  .showcase_inner p {
    font-size: 12px;
    margin-top: 10px;
  }

  .showcase_button {
    font-size: 14px;
    border-radius: 40px;
    padding: 10px 20px;
    margin-top: 10px;
  }
  .people_icon {
    bottom: 20px;
    width: 23%;
  }
  .arrow_icon,
  .next_icon,
  .kite_icon {
    display: none;
  }
}

/* @media screen and (max-width: 400px) {
  .showcase_container {
    min-height: 60vh;
  }
} */
