.image {
  border: 8px solid var(--darkblue);
  border-radius: 3px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .image {
    border: 3px solid var(--darkblue);
    border-radius: 1px;
  }
}
