.swag_container {
  background-color: #fde29338;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swag_inner {
  width: 80%;
  padding: 50px 0;
}

.swag_inner h1 {
  color: var(--grey);
  text-align: center;
  font-size: 40px;
  font-weight: 700;
}

.flex_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin-top: 70px;
}

.flex_item {
  width: 50%;
}

.flex_item:first-child {
  padding: 20px;
}

.flex_item p,
.flex_item li {
  font-size: 16px;
  line-height: 27px;
}

.flex_item ul {
  margin-top: 20px;
  margin-left: 1.5rem;
  margin-bottom: 20px;
}

.flex_item img {
  max-width: 100%;
}

.regularButton {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .swag_inner {
    width: 90%;
  }
}

@media screen and (max-width: 600px) {
  .flex_container {
    flex-direction: column-reverse;
  }

  .flex_item {
    width: 100%;
  }

  .flex_item:first-child {
    padding: 10px;
  }

  .flex_item p,
  .flex_item li {
    font-size: 14px;
  }

  .btn_container {
    display: flex;
    justify-content: center;
  }
}
