.pitch_container {
  background: var(--lightyellow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  margin-top: 10rem;
}

.pitch_inner {
  width: 80%;
}

.pitch_header {
  font-family: var(--font);
  font-size: clamp(21.33px, 3.125vw, 45.52px);
  font-weight: 700;
  color: var(--black);
  text-align: center;
  line-height: normal;
  margin-bottom: 25px;
}

.content_div {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.img_div,
.text_div {
  width: 50%;
}

.pitchImage {
  width: 100%;
}

.text_div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 50%;
}
.heading3 {
  color: var(--grey);
  line-height: 10px;
  /* text-align: center; */
}
.paragraph {
  width: 100%;
  font-family: var(--font);
  font-size: 17px;
  font-weight: 500;
  line-height: 28px; /* 168.75% */
  margin-top: 20px;
  text-align: justify;
}
.button {
  background-color: var(--darkblue);
  color: white;
  border-radius: 25px;
  padding-inline: 24px;
  padding-block: 19px;
  font-size: clamp(14px, 1vw, 16px);
  outline: none;
  border: none;
  align-self: self-start;
}
.button:hover {
  background: var(--black);
}
.pitchImage {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.regularButton {
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  .pitch_inner {
    width: 90%;
  }
  .paragraph {
    font-size: 1rem;
  }
  .pitch_container {
    margin-top: 7rem;
  }
}
@media screen and (max-width: 950px) {
  .content_div {
    margin-top: 2rem;
    flex-direction: column;
    width: 95%;
    gap: 20px;
  }
  .img_div {
    width: 70%;
  }
  .text_div {
    width: 70%;
    padding: 0;
  }
  .pitch_container {
    margin-top: 5rem;
  }
}
@media screen and (max-width: 500px) {
  .content_div {
    margin-top: 2rem;
    gap: 20px;
    width: 100%;
  }
  .img_div {
    width: 95%;
  }
  .text_div {
    width: 95%;
  }
  .paragraph {
    font-size: .9rem;
    line-height: 25px;
    margin-top: 10px;
  }
}
