.pitch_container {
  background: var(--lightyellow);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
}

.pitch_inner {
  width: 90%;
}

.pitch_header {
  font-family: var(--font);
  font-size: clamp(21.33px, 3.125vw, 50.52px);
  font-weight: 700;
  color: var(--black);
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  line-height: normal;
}

.content_div {
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.img_div,
.text_div {
  width: 50%;
}

.pitchImage {
  width: 100%;
}

.text_div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.heading3 {
  color: var(--grey);
  line-height: 10px;
}
.paragraph {
  font-size: 16px;
  color: var(--black);
  line-height: 27px;
}

.regularButton {
  border: none;
  border-radius: 28px;
  padding: 15px 20px;
  background-color: var(--darkblue);
  color: var(--white);
  font-family: var(--font);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.5s ease;
  text-align: center;
}

.regularButton:hover {
  background-color: var(--black);
  color: var(--white);
}

@media screen and (max-width: 600px) {
  .pitch_container {
    padding: 3rem 0;
  }

  .content_div {
    margin-top: 2rem;
    flex-direction: column;
  }

  .paragraph {
    font-size: 14px;
    line-height: 22px;
  }

  .img_div,
  .text_div {
    width: 100%;
  }

  .regularButton {
    font-size: 16px;
    padding: 15px;
  }
}
