.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  padding: 70px 0px;
  margin-top: 100px;
}
.footer_inner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_inner_left,
.footer_inner_right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--white);
}
.footer_inner_left img {
  margin-bottom: 20px;
}
.footer_inner_middle {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  max-width: 300px;
}
.footer_inner p {
  color: var(--white);
  font-family: var(--font);
  font-size: 14px;
  font-weight: 400;
  margin: 3px 0px;
}

.footer_inner_right span {
  color: #f28b82;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
  margin: 20px 0px;
}
.footer_inner_right a {
  margin-right: 20px;
}
.footer_bottom {
  background: var(--grey);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  font-family: var(--font);
  font-size: 15px;
  font-weight: 400;
}
.footer_inner_right a svg {
  width: 20px;
  height: 20px;
}
@media screen and (max-width: 999px) {
  .footer_inner_left img {
    width: 100px;
    margin-bottom: 10px;
  }
  .footer_inner p {
    font-size: 8px;
  }
  .footer_inner_right_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .footer_inner_right span {
    font-size: 10px;
    margin: 10px 0px;
  }
  .footer_inner_right a svg {
    width: 15px;
    height: 15px;
  }
  .footer_bottom {
    height: 40px;
    width: 100%;
    font-size: 8px;
  }
  .footer_inner_left {
    margin-right: 10px;
  }
}
