.__ticker {
  --ticker-duration: 50s;
}

.__ticker > div {
  width: fit-content;

  will-change: transform;

  animation-name: marquee;

  animation-timing-function: linear;

  animation-iteration-count: infinite;

  animation-duration: var(--ticker-duration);
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}
.__markCase {
  padding-block: 100px;
}
.__markCase h3 {
  margin-bottom: 20px;
}
@media screen and (max-width: 500px) {
  .__markCase h3 {
    margin-bottom: 0px;
  }
  .__mar img {
    width: 300px;
  }
  .__markCase {
    padding-block: 60px;
    gap: 30px !important;
  }
}
