.image_gallery{
    display: flex; 
    justify-content: center; 
    align-items: center; 
}
.image_gall1{
    width: 100%;
    justify-content: center;
    margin: 0 auto;
    width: 80%;
}
@media screen and (max-width: 999px) {
    .image_gall1{
        width: 120%;
        justify-content: center;
        margin: 0 auto;
    }
}
